:root {
    background: #A4DAA9;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
/*-------------------------------Text*/
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
}
li {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #4B4B4B;
    text-transform: capitalize;
}
li span {
    font-size: 1.8rem;
    font-weight: 400;
    color: #4B4B4B;
}
/*-------------------------------Nav*/
.nav-wrapper {
    background-color: #A4DAA9;
    padding: 0.5rem 1rem;
    font-size: 2.4rem;
}
/*-------------------------------Materialize content*/
.collapsible {
    background: white;
}
/*-------------------------------Utilities*/
#addColumn {
    background-color: #fff;
}
#pageTitle {
    vertical-align: middle;
}