{% extends 'base.html' %}
{% block title %}Add recipe{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 l5 centerHeader">
        <h1>Add<br>Recipe</h1>
    </div>
    <form action="{{url_for('insert_recipe')}}" method="POST">
        <div class="col s12 l7" id="addColumn">
            <div class="row">
                <div class="input-field col s6">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                    <label for="recipe_name">Recipe name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3 l2">
                    <select id="recipe_yield" name="recipe_yield">
                        <option value="0" disabled selected>Yield</option>
                        {% for yield in yields %}
                            {% for i in range(10) %}
                                <option value="{{yield.yield_numbers[i]}}">{{yield.yield_numbers[i]}}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s2">
                    <select id="recipe_time_hour" name="recipe_time_hour">
                        <option value="0" disabled selected>Hour</option>
                        {% for hour in hours %}
                            {% for i in range(11) %}
                                <option value="{{hour.cook_time_hour[i]}}">{{hour.cook_time_hour[i]}}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                    <p>h</p>
                </div>
                <div class="input-field col s2">
                    <select id="recipe_time_min" name="recipe_time_min">
                        <option value="0" disabled selected>Min</option>
                        {% for min in mins %}
                            {% for i in range(11) %}
                                <option value="{{min.cook_time_min[i]}}">{{min.cook_time_min[i]}}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                    <p>min</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_notes" name="recipe_notes" class="materialize-textarea"></textarea>
                    <label for="recipe_notes">Notes or Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s7 l5">
                    <select id="difficulty" name="recipe_difficulty">
                        <option value="" disabled selected>Choose recipe difficulty</option>
                        {% for difficulty in difficulties %}
                            <option value="{{difficulty.recipe_difficulty}}">{{difficulty.recipe_difficulty}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_ingredients" name="recipe_ingredients" type="text" class="materialize-textarea" required></textarea>
                    <label for="recipe_ingredients">Ingredients and measurements</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_directions" name="recipe_directions" type="text" class="materialize-textarea" placeholder="1: Boil the broccoli." required></textarea>
                    <label for="recipe_directions">Directions</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="recipe_url" name="recipe_url" type="text" class="validate">
                    <label for="recipe_url">Recipe Url</label>
                    <div class="helperSpan">
                        <span>Did you find the recipe on another website? Link it here to give credit to the creator.</span>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="recipe_photourl" name="recipe_photourl" type="text" class="validate" required>
                    <label for="recipe_photourl">Photo Url</label>
                    <div class="helperSpan">
                        <span>Copy and paste your image url here. Use for instance Unsplash for great pictures!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light blue" type="submit">Add
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}