{% extends 'base.html' %}
{% block title %}{{recipe.recipe_name}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 l5 centerHeader">
        <div class="row">
            <h1>{{recipe.recipe_name}}</h1>
        </div>
        <div class="row">
            <div class="col s6">
                <h5>Difficulty</h5>
                <p>{{recipe.recipe_difficulty}}</p>
            </div>
        </div>
    </div>
    <div class="col s12 l7" id="recipeColumn">
        <div class="row">
            <div class="col s10">
                <h5>Notes</h5>
                <p>{{recipe.recipe_notes}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s10">
                <h5>Ingredients</h5>
                <p>{{recipe.recipe_ingredients}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s10">
                <h5>Directions</h5>
                <p>{{recipe.recipe_directions}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <h3>Url</h3>
                <a target="_blank" id="recipeUrl" href="{{recipe.recipe_url}}">{{recipe.recipe_url}}</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}